form.POST_CALC_1 {

display: block;

margin: auto;

width: 250px;

border: 1px solid #cccccc;

padding: 28px;

}

form.POST_CALC_1 input[type="number"] {

padding: 7px;

margin: 4px;

width: 220px;

}

form.POST_CALC_1 input[type="submit"] {

width: 95%;

margin: 5px;

padding: 10px;

}

form div {text-align:center;

}